* {
  padding: 0;
  margin: 0;
  font-size: 19px;
}

.cabecalho {
  background-color: #84a66a;
}

#menu-h {
  list-style: none;
  padding: 0;
  background-color: #84a66a;
  position: relative;
}

#menu-h li {
  display: inline;
}
#menu-h li a {
  color: white;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  display: inline;
  cursor: pointer;
}

.text_cabecalho {
  color: white;
  text-align: center;
  font-size: 70px;
}
@media (max-width: 3500px) {
  .text_cabecalho {
    color: white;
    text-align: center;
    font-size: 60px;
  }

  #menu-h li a {
    color: white;
    padding: 10px;
    font-size: 35px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
  }
}

@media (max-width: 2500px) {
  .text_cabecalho {
    color: white;
    text-align: center;
    font-size: 60px;
  }

  #menu-h li a {
    color: white;
    padding: 10px;
    font-size: 35px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
  }
}

@media (max-width: 1900px) {
  .text_cabecalho {
    color: white;
    text-align: center;
    font-size: 50px;
  }

  #menu-h li a {
    color: white;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
  }
}

@media (max-width: 450px) {
  .text_cabecalho {
    color: white;
    text-align: center;
    font-size: 40px;
  }

  #menu-h li a {
    color: white;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .text_cabecalho {
    color: white;
    text-align: center;
    font-size: 35px;
  }

  #menu-h li a {
    color: white;
    padding: 10px;
    font-size: 35px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
  }
}
/* ------------------ Main ---------------------*/

body {
  background-color: #e0e9da;
}

.conteudo {
  background-color: #84a66a;
  border-radius: 10px;
}

.conteudo a {
  text-decoration: none;
}

.conteudo p {
  padding: 8px;
  height: 800px;
  color: white;
}

.conteudo h1 {
  text-align: center;
  color: white;
  padding: 8px;
  font-size: 140%;
}

.primeira-parte {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  width: 96%;
  padding: 8px;
}

.idoso {
  margin-bottom: 2%;
  margin-left: 10%;
  width: 80%;
  border-radius: 10px;
}

.juventude {
  margin-bottom: 2%;
  margin-left: 10%;
  width: 80%;
  border-radius: 10px;
}

.animais {
  margin-bottom: 2%;
  margin-left: 10%;
  width: 80%;
  border-radius: 10px;
}

/*----------------------RODAPÉ---------------------------*/

footer {
  background-color: #84a66a;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 80%;
}

footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12vh;
  text-align: center;
  bottom: 0;
  position: relative;
}
