* {
  padding: 0;
  margin: 0;
  font-size: 19px;
}

.cabecalho {
  background-color: #84a66a;
}

.logo {
  justify-content: start;
  display: block;
}

.text_cabecalho {
  color: white;
  text-align: center;
  font-size: 25px;
}

.primeira_parte {
  /*-------Primeira Parte---------*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 0 auto;
  max-width: 1500px;
  max-height: 800px;
  padding: 8px;
}

.conteudo:nth-child(1) {
  grid-row: 1 / 2;
}

.conteudo {
  background-color: red;
  border-radius: 10px;
}

.conteudo p {
  padding: 5px;
}

#parte1 {
  grid-column: span 2;
} /*-------FIM da Primeira Parte---------*/

.segunda_parte {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 0 auto;
  max-width: 1500px;
  max-height: 800px;
  padding: 8px;
}

#parte2 {
  grid-column: span 2; /* grid da segunda parte*/
}

.terceira_parte {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 0 auto;
  max-width: 1500px;
  max-height: 800px;
  padding: 8px;
}

#parte3 {
  grid-column: span 2; /*grid da terceira parte*/
}
